# 실전 데이터 탐색 및 분석

## 텍스트 파일 읽기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/도로교통공단_가해운전자 연령층별 월별 교통사고(2019).csv',encoding='cp949') #cp949 와 utf-8의 차이점?
data

   가해자연령층    월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0   20세이하  01월   423    10   134   371      88
1   20세이하  02월   405     6   128   397      81
2   20세이하  03월   569    13   197   535      97
3   20세이하  04월   595    11   175   578     117
4   20세이하  05월   714     9   210   661     142
..    ...  ...   ...   ...   ...   ...     ...
91     불명  08월   318     0    44   234      91
92     불명  09월   376     0    50   237     125
93     불명  10월   391     0    65   277      90
94     불명  11월   432     0    53   331      99
95     불명  12월   382     0    54   271      99

[96 rows x 7 columns]

## DataFrame 사용

In [ ]:
accident = pd.DataFrame(data=data)
accident = accident.iloc[:,0:4]
accident['사망비율'] = accident.사망자수 / accident.사고건수
accident.dropna(how='all')
accident

   가해자연령층    월  사고건수  사망자수      사망비율
0   20세이하  01월   423    10  0.023641
1   20세이하  02월   405     6  0.014815
2   20세이하  03월   569    13  0.022847
3   20세이하  04월   595    11  0.018487
4   20세이하  05월   714     9  0.012605
..    ...  ...   ...   ...       ...
91     불명  08월   318     0  0.000000
92     불명  09월   376     0  0.000000
93     불명  10월   391     0  0.000000
94     불명  11월   432     0  0.000000
95     불명  12월   382     0  0.000000

[96 rows x 5 columns]

## 데이터 연산 및 필터링

In [ ]:
age_total = accident['사고건수'].groupby(accident['가해자연령층']).sum()
age_total

가해자연령층
20세이하      7231
21-30세    30631
31-40세    34978
41-50세    43769
51-60세    55814
61-64세    19847
65세이상     33239
불명         4091
Name: 사고건수, dtype: int64

In [ ]:
month_total = accident['사고건수'].groupby(accident['월']).sum()
month_total

월
01월    16552
02월    14752
03월    18133
04월    19104
05월    20779
06월    18968
07월    19234
08월    19992
09월    19331
10월    21690
11월    21517
12월    19548
Name: 사고건수, dtype: int64

## 데이터 탐색 및 통계

## 데이터 시계열/다차원 분석 및 집계

## 데이터 분석 결과

In [ ]:
#월별 사고건수와 가해자 연령츨별 사고건수,사망비율에 대한 정보를 구했습니다.