<a href="https://colab.research.google.com/github/tjy2202/Personal_training/blob/main/2021_2%ED%95%99%EA%B8%B0_%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B0%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
IndentationError: unindent does not match any outer indentation level make: *** [cmd] Error 1
# 띄어쓰기 오류

# 1주차

In [ ]:
import sys

l = []
p = []
for i in sys.stdin:
	l.append(i.rstrip('\n'))

for i in l:
	a = []
	b = 0
	c = len(i) - 1
	for j in range(c + 1):
		if j == c:
			if i[j] == ' ':
				a.append(i[b:].rstrip(' '))
			elif i[j] == '\t':
				a.append(i[b:].rstrip('\t'))
			else:
				a.append(i[b:])
		else:
			if i[j] == ' ':
				a.append(i[b:j+1].rstrip(' '))
				b = j + 1
			if i[j] == '\t':
				a.append(i[b:j+1].rstrip('\t'))
				b = j+1
		
	result = [0,0]
	for i in a:
		if not i:
			continue
		result[1] = result[1] + 1
		result[0] = result[0] + len(i)
	
	print(*result)

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
import sys
l = []
for i in sys.stdin:
	l.append(i.rstrip('\n').split(' '))
p = [False] * 1000001
	
for i in l:
	i = list(map(int,i))
	
	d = 0
	if i[0] > i[1]:
		max = i[0]
		min = i[1]
	else:
		max = i[1]
		min = i[0]
	
	max_num = 0
	for j in range(min,max+1):
		t = 1
		n = j
		while n != 1:
			if n % 2 == 0:
				n /= 2
				t += 1
			else:
				n = 3 * n + 1
				t += 1
			
		c = t
		if max_num < c:
			max_num = c
	
	print(i[0],i[1],max_num)

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean

import sys

l = []
for i in sys.stdin:
	l.append(i.rstrip('\n'))

for i in l:
	if i[0] == '0':
		print(int(i,16))
	else:
		print('0x'+hex(int(i))[2:].upper() )

In [ ]:
#4220 여행(The Trip) : 오일러OJ
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
n, m = list(map(int,input().split()))
t = 1
while (n != 0) & (m != 0):
	
	l = []
	p = []
	for _ in range(n):
		l.append(input())
		p.append([False]*m)
	
	for i in range(n):
		for j in range(m):
			if l[i][j] == '*':
				p[i][j] = '*'
				continue
			
			cnt = 0
			for x in range(i-1,i+2):
				if x < 0:
					continue
				if x > n-1:
					continue
				
				for y in range(j-1, j+2):
					if y < 0:
						continue
					if y > m-1:
						continue
					if l[x][y] == '*':
						cnt += 1
				
			p[i][j] = cnt
		
	print('Field #{0}:'.format(t))
	for i in p:
		a = ''
		for j in i:
			a = a + str(j)
		print(a)
	
	print('')
	n, m = list(map(int, input().split()))
	t += 1

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
import math

n = int(input())
while n != 0:
	l = []
	
	sum = 0
	for _ in range(n):
		a = float(input()) * 100
		l.append(a)
		sum += a

	l.sort(reverse=True)
	
	result = 0
	if sum % n == 0:
		mean = int(sum / n)
		for i in l:
			result += abs(i - mean)
		result /= 2
		print('${0:.2f}'.format(result/100))
	else:
		cnt = int(sum % n)
		mean = int((sum-cnt)/n)

		p = [mean] * n
		for i in range(cnt):
			p[i] += 1
		
		for i in range(n):
			result += abs(p[i] - l[i])
			
		print('${0:.2f}'.format((result/2)/100))
	
	n = int(input())

NameError: ignored

# 2주차

In [ ]:
import sys
l = []
for i in sys.stdin:
	l.append(list(map(int, i.rstrip('\n').split())))

for i in l:
	p = []
	
	for j in range(1,i[0]):
		p.append(abs(i[j] - i[j+1]))
	
	q = [i for i in range(1,i[0])]
	p.sort()
	q.sort()
	
	if p == q:
		print('Jolly')
	else:
		print('Not jolly')

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
import sys

k = ['C','D','H','S']
n = ['T','J','Q','K','A']

def fo(x):
	b = 0
	for j in range(4):
		if x[1] == k[j]:
			b += j+1
	for j in range(5):
		if x[0] == n[j]:
			b += (10 + j) * 10
	if b < 5:
		b += int(x[0]) * 10
	return b

##########################################################################################
def rank(x):
	y = []
	z = []
	o = []
	g = [[2,3,4,5,14],[2,3,4,13,14], [2,3,12,13,14],[2,11,12,13,14]]
	for i in x:
		y.append(i // 10)
		z.append(i % 10)
	
	for i in range(4):
		o.append(y[i+1]-y[i])
		
	rank2 = y

	if (len(set(z)) == 1) and ((o == [1,1,1,1]) or (y in g)):
		rank1 = 8
		
		
	elif (o[:3] == [0,0,0]):
		rank1 = 7
		rank2 = y[:4]
	elif (o[1:] == [0,0,0]):
		rank1 = 7
		rank2 = y[1:]
		
		
	elif ((o[1] != 0) and (o[0] == 0) and (o[2:] == [0,0])):
		rank1 = 6
		rank2 = y[2:]
	elif ((o[2] !=0) and (o[:2] == [0,0]) and (o[-1] == 0)):
		rank1 = 6
		rank2 = y[:3]
		
		
	elif (len(set(z)) == 1):
		rank1 = 5
		
		
	elif ((o == [1,1,1,1]) or (y in g)):
		rank1 = 4
		
		
	elif (o[:2] == [0,0]):
		rank1 = 3
		rank2 = y[:3]
	elif (o[1:3] == [0,0]): 
		rank1 = 3
		rank2 = y[1:4]
	elif (o[2:] == [0,0]):
		rank1 = 3
		rank2 = y[2:]
		
		
	elif (o.count(0) == 2):
		rank1 = 2
		a = []
		b = []
		for i in y:
			if y.count(i) == 1:
				a.append(i)
			else:
				b.append(i)

		b.sort()
		rank2 = a + b
	
	
	elif (o.count(0) == 1):
		rank1 = 1
		a = []
		b = []
		for i in y:
			if y.count(i) == 1:
				a.append(i)
			else:
				b.append(i)
		a.sort()
		b.sort()
		rank2 = a + b
		
		
	else:
		rank1 = 0
	
	return rank1, rank2
	
		
		
		
		
#########################################################################################
l = []
for i in sys.stdin:
	l.append(list(map(fo, i.rstrip('\n').split())))

for i in l:
	bl = []
	wh = []
	for j in range(5):
		bl.append(i[j])
		wh.append(i[j+5])
		
	bl.sort()
	wh.sort()
	
	b1, b2 = rank(bl)
	w1, w2 = rank(wh)

	if b1 > w1:
		print('Black wins.')
	elif b1 < w1:
		print('White wins.')
	else:
		for j in range(-1,-(len(b2)+1),-1):
			if b2[j] > w2[j]:
				print('Black wins.')
				h = 1
				break
			elif b2[j] < w2[j]:
				print('White wins.')
				h = 1
				break
			else:
				h = 0
				continue
		if h == 0:
			print('Tie.')

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
n = int(input())

for _ in range(n):
	d = int(input())
	p = int(input())
	l = []
	for _ in range(p):
		l.append(int(input()))
	
	result = []
	
	a = [i for i in range(6,d+1,7)]
	b = [i for i in range(7,d+1,7)]
	a = set(a + b)
	for i in l:
		n = 1
		while True:
			if i * n > d:
				break
			else:
				result.append(n*i)
				n += 1
				
	result = set(result)
	result = result - a
	print(len(result))

# 3주차

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
import sys

x = int(input())
t = [2,3,4,5,6,7,8,9,10,'Jack','Queen','King','Ace']
shape = ['Clubs','Diamonds','Hearts','Spades']
n = input()
for v in range(x):

	n = int(input())
	l = []
	for _ in range(n):
		l.append(list(map(int,input().split())))
	
	p = [i for i in range(1,53)]
	
	k = sys.stdin.readline().rstrip('\n')
	while k != '':
		k = int(k)
		f = [False] * 52
		for j in range(52):
			f[j] = p[l[k-1][j]-1]
		p = f
		k = sys.stdin.readline().rstrip('\n')
	
	for i in p:
		if (i-1) // 13 == 4:
			a = shape[3]
		else:
			a = shape[(i-1) // 13]
		b = t[(i-1) % 13]
		print('{0} of {1}'.format(b,a))
	
	if v != x-1:
		print()

# 3주차

# 3주차

# 3주차

# 3주차

# 3주차