<a href="https://colab.research.google.com/github/tjy2202/P.T/blob/main/Study/2022_%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
군집을 합칠때 사용하는 가중평균 -> 중심연결법
계층적 군집분석 중에서 군집내 편차들의 제곱합을 사용하여 군집들을 병합시키는 방법은?
답 : 와드연결법(Ward linkage)

집계(Aggregation) : 그룹화 연산을 데이터에 적용

데이터의 양이 적을 경우에는 의도적으로 기존의 데이터를 조금씩 변형하고 추가하여 데이터의 양을 늘리기도 하는데 이를 무엇이라고 하는가?
답: 데이터 증강(Data Augmentation)

SVM에서 완벽한 분리가 불가능할때 선형적으로 분류를 위해 허용된 오차를 위한 변수는 무엇이라고 하는가
정답) 슬랙변수

여러 개의 약한 학습기(weak learner)를 순차적으로 학습-예측하면서 잘못 예측한 데이터에 가중치를 부여해 오류를 개선해나가며 학습하는 방식	
부스팅

학습모형중 경사하강법과 모멘텀을 합친 방법은?
답: adam

상관분석은 데이터 안의 두 변수 간의 관계를 알아보기 위해 사용한다. 두변수 간의 상관관계를 알아보기 위해 상관계수를 이용한다. 상관계수 중 서열척도인 변수간의 상관관계를 측정하는데 사용하는 상관계수는?
정답 :스피어만 상관계수

Bootstrap Aggregation의 약자이다. 샘플을 여러 번 뽑아(Bootstrap) 각 모델을 학습시켜 결과물을 집계(Aggregration)하는 방법이다.	
배깅(Bagging)

귀무가설이 실제로 참이지만, 이에 불구하고 귀무가설을 기각하는 오류는?
답: 1종 오류

대용량 실시간 로그 처리를 위해 기존 메시징 시스템과 유사하게 레코드 스트림을 발행,구독하는 방식의 분산 스트리밍 플랫폼 기술? 
아파치 카프카

개체들과 그 개체가 속하는 클러스터의 중심과의 평균 유칼리드 거리를 최소화하는 분할 클러스터링 알고리즘은?
답) K-means 알고리즘

기존 신경망의 문제점을 해결하는 방법 중 일정 비율의 뉴런을 임의로 삭제하여 학습에서 배제하는 방법은?
답) 드롭아웃

배깅의 개념과 속성의 임의선택을 결합한 앙상블 기법 예측변수들을 임의로 추출하고 추출된 변수 내에서 최적의 분할을 만들어나가는 방법을 사용하는 방식의 모델은? 
랜덤포레스트

인공신경망에서 계산 결과와 실제값의 차이가 작아지도록 출력에서 입력 방향으로 가중치를 수정하는 방법.
답: 오차역전파

두 개 이상의 서로 다른 집단의 분산 값을 비교하여 만들어진 F분포로 가설을 검정하는 방법.
답: ANOVA(분산 분석)

데이터의 실제값과 모델의 예측값의 차이를 나타내는 지표. MSE, Cross Entropy등이 있다.
답: 손실함수(Loss Function)

주어진 데이터에서 마진을 최대화 하는 초평면을 구하는 방법으로 학습하는 알고리즘은? 
SVM

처음 k개 중에서 임의로 하나의 단위를 추출하고, 이후 k번째 간격마다 하나씩 단위를 추출하여 표본을 구성하는 방법
답) k계통추출법

개체들을 유사성 또는 비유사성을 이용해 저차원에 점으로 표현하여 개체들 사이의 집단화를 시각화 하는 분석방법
답: 다차원척도법(MDS)

하둡의 맵리듀스 처리부분을 새롭게 만든 자원 관리 플랫폼, 리소스 매니저와 노드 매니저로 구성
얀

분류분석의 혼동행렬 평가지표 중, Positive로 예측한 것 중 실제로 Positive인 것을 나타내는 지표는 무엇인가?
답 : 정밀도(Precision)

다중회귀분석에서 설명변수들 사이에 선형관계가 존재하면 회귀계수의 정확한 추정이 난해해지는 성질
다중공선성

분석모형중 목표값이 없는 모델의 기준이 될수 있는 지표는?
답 : 던지수, 실루엣계수

연관성 분석중 하나로 시간의 개념을 포함시켜 순차적으로 구매 가능성이 큰 상품군을 찾아내는 분석 방법은?
순차패턴 (Sequence Analysis)

인공신경망 모델에서 입력신호의 총합을 출력신호로 변환하는 함수로, 입력받은 신호를 얼마나 출력할지 결정하고, 다음 단계에서 출력된 신호의 활성화 여부를 결정하는 함수
활성화 함수 (Activation Function)

저차원에서 함수의 계산만으로 원하는 풀이가 가능한 커널함수를 이용하여 고차원 공간으로 매핑할 경우에 증가하는 연산량의 문제를 해결하는 기법
서포트 벡터 머신(SVM; Support Vector Machine)


모델의 일반화 오차에 대해 신뢰할만한 추정치를 구하기 위해 훈련, 평가 데이터를 기반으로 하는 검증 기법
교차검증(Cross Validation)

분석모델에서 구한 분류의 예측 범주와 데이터의 실제 분류 범주를 교차표(Cross Table)형태로 정리한 행렬
혼동행렬(Confusion Matrix)

제1주성분에서 제k주성분까지의 주성분을 이용하여 설명할 수 있는 데이터의 전체 정보량의 비율
주성분 기여율(Principal component contribution rate)


현재 노드 위치와 먼 과거 상태를 사용한 문맥 처리가 어려운 문제
장기의존성문제(the problems of long-term dependencies)


이미지 추출시 왜곡 변형 같은 환경변화에 잘 적응하는 강인한 특징을 유도한 2차원 맵
피처맵 (Feature Map)


다중공선성을 측정하는 지표로 알려져 있으며, 독립 변수간 상관 관계가 있는지 정량적으로 나타내는 용어
ㄴ 분산팽창요인


상관관계가 있는 변수들을 결합하여 분산을 극대화 하는 성분을 만드는 방법	PCA
대표적인 차원축소 방법 가운데 하나로, 데이터 전체의 변동을 최대한 보존하는 방법은?	PCA


개별 알고리즘의 예측 결과 dataset을 최종적인 메타 dataset으로 만들어 별도 ML 알고리즘으로 최종 학습을 수행하고 테스트 데이터를 기반으로 다시 최종 예측을 수행하는 방식이다. 개별 모델의 예측된 dataset을 기반으로 학습하고 예측하는 방식을 메타 모델이라고 한다.	
스태킹(Stacking)

현재의 상태(State)에서 어떤 행동(Action)을 취하는 것이 최적인지를 학습하는 것이다. 행동을 취할 때마다 외부 환경에서 보상(Reward)이 주어지는데, 이러한 보상을 최대화 하는 방향으로 학습한다.	
강화학습

트랜스포머(transformer) 네트워크에서 self attention을 사용했을때의 이점은?
답) layer간 계산복잡도 감소, 계산시 병렬 가능, path length 감소


표준편차를 평균으로 나눈 것으로, 자료의 단위가 다른 두 집단 간의 산포를 비교할 때 가장 적합한 측도는?
답) 변동계수



정규성 또는 정상성을 만족하지 않는 데이터의 분포를 정규분포에 가깝게 만들거나 분산을 안정시키는 데이터 전처리 기법으로
모든 데이터가 양수로 표현됐을 때만 사용가능한 기법은? Box-Cox(박스-칵스)변환
데이터가 실수 범위인 경우 사용가능한 기법은? Yeo-Johnson(여 존슨)변환

=================================================================================================================================
3회 기출(출처 : https://ha2juo.tistory.com/10)

연관성 분석에서 규칙이 우연히 나타난것이 아님을 확인하기 위한 척도
답 : 향상도(리프트, Lift)

그룹화를 의미하는 데이터 변환을 뭐라하는가(예시 : 일별 매출건수를 그룹화하여 월별 매출건수, 분기별 매출건수로 변환)
답 : 총계 처리

최대최소정규화의 경우 단점이 존재함 A학교 영어 성적 점수가 60점과 B학교 영어 성적 점수 60점의 경우 ( )이/가 상이한 점을 알수없음???
답 : 분포(평균, 분산 등을 고민하다 분포를 적음)

마지막 은닉층2개의 값 [0.2, -0.3] ,  첫번째 은닉층과 출력층 간 가중치 0.3, 두번쨰 은닉층과 출력층 간 가중치 0.1 , bias 0.1, 출력층 1개 출력값 (이번에는 2회와 다르게 조건이 없음)
(빅데이터분석기사 실기 2회 문제 : 마지막 은닉층2개의 값 [0.2, -0.3] ,  가중치 [0.3, 0.1] , bias -0.05, 출력층 1개, f(x) = x , if x >= 0 , 그외 -1 일때 )
답 : 0.13  ( 0.2 * 0.3 + ( -0.3 * 0.1) + 0.1)

순서형이 아닌 명명된 이름의 척도
답 : 범주형   -> 명목형 (책 다시보니 명목형이 정답인듯.. 문제에서 순서형 외인것을 명시했는데 왜그랬을까요..ㅜㅜ)

군집분석에서 ( ) 기반의 ~~~?
답 : 거리??

분포를 모를때 0-1 사이의 값으로 정규화하는 방법으로 
답 : 최대최소정규화(minmaxsclear)

여러가지 동일한 종류 또는 상이한 모형의 예측/분류 결과를 종합하는
답 : 앙상블 

군집간 거리, 군집을 합칠때 사용하는 가중평균을 사용하는 방법은???? 
답 : 유클리디안??  (뭔지몰라서 그냥 적은.. 유클리디안)   ->  평균연결법????

회귀, 분류 둘다 사용가능하며 지도학습 알고리즘으로 구부하는 경계와 데이터와 멀수록(최대일경우) 가장 좋은 모델로 선정하는 알고리즘은
답 : SVM


=================================================================================================================================
2회 기출 출처 : https://ha2juo.tistory.com/5

데이터 전처리 단계에서 발견하는 값으로 기존 값들과 상이한 값?? 답 : 이상치

정답지, label이 없다, 대표적분석에 군집분석, 인공신경망, 해당 기법을 뭐라하는가?? 답 : 비지도학습

모델을 생성시 사용자가 직접 변경해줘야하는 것이 무엇일까요?? 답 : 하이퍼파라미터

마지막 은닉층2개의 값 [02, -03] ,  가중치 [03, 0.1] , bias -0.05, 출력층 1개 f(x) = x , if x >= 0 , 그외 -1 일때 답 : -1

결측값을 대치 하는 방법 중 평균값을 사용해 대치하는 방법은?? 답 : 평균대치법

변수 선택 방법 중 모든 변수를 활용해 하나씩 제거해 가는 방법은?? 답 : 후진제거법

모델의 학습에서는 정확도가 높게 나오지만 테스트 셋에서는 정확도가 낮게 나오는 것을 무엇이라하는가??  답 : 오버피팅

앙상블 기법 중 부스팅 종류, 약학습기??  답 : gbm(Gradient boosting)

모델 학습시 잘못된 결과에 대해 가중치를 반영해 모델을 생성하는 방법??  답 : 부스팅 

TPR , FPR 로 그려서 확인하는 곡선은  답 : ROC곡선

# 실기 연습 문제

In [ ]:

# 필답형 : 여러 명의 사용자들이 컴퓨터에 저장된 많은 자료들을 쉽고 빠르게 조회, 추가, 수정, 삭제할 수 있도록 해주는 소프트웨어는 무엇인가?
데이터 베이스

# 작업 1형 : mtcars 데이터셋(data/mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수 구하기
import pandas as pd
a = pd.read_csv('data/mtcars.csv', index_col=0)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df = pd.DataFrame(a.qsec)
d = scaler.fit_transform(df)
print(len(d[d > 0.5]))

# 작업 2형
import pandas as pd
X_test = pd.read_csv("data/X_test.csv")
X_train = pd.read_csv("data/X_train.csv")
y_train = pd.read_csv("data/y_train.csv")


X_train.환불금액 = X_train.환불금액.fillna(0)
X_test.환불금액 = X_test.환불금액.fillna(0)


X_train = X_train.iloc[:,1:]
X_test = X_test.iloc[:,1:]
y_train = y_train.iloc[:,1:]

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train.주구매상품 = le.fit_transform(X_train.주구매상품)
X_train.주구매지점 = le.fit_transform(X_train.주구매지점)
X_test.주구매상품 = le.fit_transform(X_test.주구매상품)
X_test.주구매지점 = le.fit_transform(X_test.주구매지점)

from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(X_train, y_train, random_state=1)

from sklearn.ensemble import RandomForestClassifier
lr = RandomForestClassifier()
lr.fit(train_x, train_y.values.ravel())
print('RandomForestClassifier Accuracy : ', lr.score(train_x, train_y))
print('RandomForestClassifier Accuracy : ', lr.score(val_x, val_y))

from sklearn.metrics import roc_auc_score

train_pred = lr.predict_proba(train_x)[:,1]
val_pred  = lr.predict_proba(val_x)[:,1]
print(roc_auc_score(train_y, train_pred))
print(roc_auc_score(val_y, val_pred))

from xgboost import XGBClassifier
lr = XGBClassifier()
lr.fit(train_x, train_y)
print('RandomForestClassifier Accuracy : ', lr.score(val_x, val_y))

from sklearn.metrics import roc_auc_score

val_pred  = lr.predict_proba(val_x)[:,1]
print(roc_auc_score(val_y, val_pred))

# 실기 모의고사 1회
 - https://www.datamanim.com/dataset/practice/q1.html

작업 1형

In [ ]:
import scipy.stats
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [ ]:
# Q1 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)
(df.age // 10 * 10).value_counts().index[0]

30

In [ ]:
# Question2 : 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

a = df.age // 10 * 10
a.value_counts()[30]

5056

In [ ]:
# Question3 : 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?
len(df[(df.age >= 25) & (df.age < 29) & (df.housing == 'yes')])

504

In [ ]:
# Question4 : numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?
max = 0
result = ''
for i in list(set(df.columns) -  set(df.describe().columns)):
    print(i, df[i].unique(), len(df[i].unique()))
    if max < len(df[i].unique()):
        max = len(df[i].unique())
        result = i
print(result)

In [ ]:
lst= [] 
for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

print(lst)
result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

[['job', 12], ['marital', 3], ['education', 4], ['default', 2], ['housing', 2], ['loan', 2], ['contact', 3], ['month', 12], ['poutcome', 4], ['y', 2]]
job

In [ ]:
# Question5 : balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?
df[df.balance >= df.balance.mean()].sort_values('ID', ascending=False)[:100].balance.mean()

3473.73

In [ ]:
# Question6 : 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)
df[['day','month']].value_counts().index[0]

(15, 'may')

In [ ]:
# Question7 : 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라
scipy.stats.shapiro(df[df.job == 'unknown'].age)[1]

0.1961131989955902

In [ ]:
# Question8 : age와 balance의 상관계수를 구하여라
df[['age','balance']].corr().iloc[0,1]

0.10198734763981462

In [ ]:
# Question9 : y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라
from scipy.stats import chi2_contingency
v = pd.crosstab(df.y,df.education)
print(v)
chi2 , p ,dof, expected = chi2_contingency(v)
display(v)
print(p)

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

7.901201277473551e-29

In [ ]:
# Question10 : 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?
t = df.groupby(['job','marital']).size().reset_index()
pivotdf = t.pivot_table(index='job',columns='marital')[0]
pivotdf = pivotdf.fillna(0)
pivotdf['ratio'] = pivotdf['divorced'] / pivotdf['married']

result = pivotdf.sort_values('ratio').ratio.values[-1]
print(result)

## 작업 2형

In [ ]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

from sklearn.model_selection import train_test_split

x = train.drop(columns =['ID','y'])
xd = pd.get_dummies(x) # 범주화 변수 원핫인코딩
y = train['y']

x_train,x_test,y_train,y_test = train_test_split(xd,y,stratify =y ,random_state=1)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
pred = rf.predict_proba(x_test)

from sklearn.metrics import roc_auc_score,classification_report

print('test roc score : ',roc_auc_score(y_test,pred[:,1]))


test_pred = rf.predict_proba(pd.get_dummies(test.drop(columns=['ID'])))
submission['predict'] = test_pred[:,1]

print('submission file')
display(submission.head())
submission.to_csv('00000000000000.csv',index=False)

test roc score :  0.7786884020954699
submission file

      ID  predict
0  53608     0.78
1  51055     0.80
2  52573     0.01
3  50458     0.23
4  52272     0.38

# 2

## 작업 1형

In [77]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [17]:
# Question1 : 성별이 Male인 환자들의 age의 평균값은 ?
df.age = df.age.str.replace('*','').astype('int')
df[df.gender == 'Male'].age.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

44.68623481781376

In [69]:
# Question2 : bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
print(round(df.bmi.fillna(df.bmi.median()).mean(), 3))

29.166

In [ ]:
# Question3 : bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
fi = df['bmi'].fillna(method = 'ffill')
result = round(fi.mean(),3)
print(result)

In [76]:
# Question4 : bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.age = df.age.str.replace('*','').astype('int')
mean = df[df.bmi.notnull()].groupby(df.age//10*10).bmi.mean()
dic = { x:y for x,y in mean.items()}
idx =df.loc[df.bmi.isnull(),['age','bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi']  =(df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = df.bmi.mean()
print(result)

29.2627029367386

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
# Question5 : avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라
df.avg_glucose_level = list(map(lambda x : 199 if x >= 200 else x, df.avg_glucose_level))
print(round(df[df.stroke == 1].avg_glucose_level.mean(), 3))

125.188

In [84]:
# Question6 : Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

u = df.sort_values('Attack', ascending=False).reset_index(drop=True)[:400]
d = df.sort_values('Attack', ascending=False).reset_index(drop=True)[400:800]
print(u.Legendary.sum() - d.Legendary.sum())

57

In [94]:
# Question7 : Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

df.groupby('Type 1').mean().Total.sort_values(ascending=False).index[2]

'Flying'

In [100]:
# Question8 : 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라
df.dropna().iloc[:int(len(df.dropna()) * .6),:].Defense.quantile(.25)

50.0

In [101]:
# Question9 : Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라
len(df[(df['Type 1'] == 'Water') & (df.Attack >= df[df['Type 1'] == 'Fire'].Attack.mean())])

37

In [116]:
# Question10 : 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?
abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]

## 작업 2형

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score,classification_report
from sklearn.ensemble import RandomForestClassifier

import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

# 전처리

train['age'] =train['age'].str.replace('*','').astype('int')
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())
x = train.drop(columns =['id','stroke'])
xd = pd.get_dummies(x)
y = train['stroke']


#학습

x_train,x_test,y_train,y_test = train_test_split(xd,y,stratify =y ,random_state=1)
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
pred = rf.predict_proba(x_test)
print('test roc score : ',roc_auc_score(y_test,pred[:,1]))


# one-hot encoding시 train셋에만 존재하는 컬럼이 존재
test_preprocessing =pd.get_dummies(test.drop(columns=['id']))
test_preprocessing[list(set(x_train.columns) -set(test_preprocessing))] =0
test_preprocessing =test_preprocessing[x_train.columns]
test_pred = rf.predict_proba(test_preprocessing)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # This is added back by InteractiveShellApp.init_path()

test roc score :  0.8623740332786501

In [ ]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

train = train.dropna().iloc[:,1:]
test = test.dropna().iloc[:,1:]

print(train.age.unique())
x_train = train.drop(columns=['stroke'])
y_train = train.stroke

print(x_train.isnull().sum())
print(test.isnull().sum())

x_train.age = x_train.age.str.replace('*','')
type(test.age)


x_train.gender = list(map(lambda x : 0 if x == 'Male' else 1, x_train.gender))
test.gender = list(map(lambda x : 0 if x == 'Male' else 1, test.gender))

x_train.ever_married = list(map(lambda x : 0 if x == 'No' else 1, x_train.ever_married))
test.ever_married = list(map(lambda x : 0 if x == 'No' else 1, test.ever_married))

from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
le1.fit(x_train.work_type)
x_train.work_type = le1.transform(x_train.work_type)
test.work_type = le1.transform(test.work_type)


le2 = LabelEncoder()
le2.fit(x_train.Residence_type)
x_train.Residence_type = le2.transform(x_train.Residence_type)
test.Residence_type = le2.transform(test.Residence_type)


le3 = LabelEncoder()
le3.fit(x_train.smoking_status)
x_train.smoking_status = le3.transform(x_train.smoking_status)
test.smoking_status = le3.transform(test.smoking_status)


from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

rfc = RandomForestClassifier()
print(x_train.describe())
rfc.fit(x_train, y_train)
print(rfc.score(x_val, y_val))

pred = rfc.predict(x_val)
print(pred)
print(roc_auc_score(y_val, pred))

# 3회차

## 작업 1

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')

In [ ]:
# Question1 : 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라
df = df.dropna()
df.loc[:,'rank'] = list(range(1,101))*10
result = df[df['rank'] ==1].bpm.mean()
print(result)

In [8]:
# Question2 : 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?
df[df['top year'] == 2015].groupby('artist').count().sort_values('title', ascending=False).index[0]

'Taylor Swift'

In [ ]:
# Question3 : 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [ ]:
# Question4 : 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [ ]:
# Question5 : top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [ ]:
# Question6 : artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [ ]:
# Question7 : 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

In [ ]:
# Question8 : title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [ ]:
# Question9 : 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [ ]:
# Question10 : artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

## 작업 2

In [ ]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

x = x_train.drop(columns = ['ID'])

test_drop = test.drop(columns = ['ID'])



sc = StandardScaler()
sc.fit(x)


xs = sc.transform(x)
x_test_scaler = sc.transform(test_drop)

X_train, X_test, y_train, y_test = train_test_split(xs, y_train['pose'], test_size=0.33, random_state=42)

lr = LogisticRegression()
lr.fit(X_train,y_train)

pred = lr.predict_proba(X_test)
print('validation_auc : ',roc_auc_score(y_test,pred[:,1]))